/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	z-index: 1;
	height:1000px;
	background: -webkit-linear-gradient(345deg, #007699 10%, #fff);
  	background: -moz-linear-gradient(345deg, #007699 10%, #fff 100%);
  	background: -ms-linear-gradient(345deg, #007699 10%, #fff 100%);
  	background: -o-linear-gradient(345deg, #007699 10%, #fff 100%);
  	background: linear-gradient(345deg, #007699 10%, #fff 100%);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 75;
	font-family: 'Open Sans', sans-serif;
	color: #007699;
}

nav {
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.22);
	text-size: 11px;
	.navbar-brand {
		a {
			color: #007699;
			font-size: 29px;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 2px;
	  width: 198px;
	  box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 3px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 17px;
	  	margin: 0;
	  	padding: 20px 10px;
	  	a {
				color: #474849;
	  	}
	  }
	  .user {
	  	font-size: 9px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

#pin_show {
	.panel-heading {
		padding: 0;
	}
	.pin_image {
		img {
			max-width: 90%;
			width: 90%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 30px;
		h1 {
			font-weight: bold;
			text-align: center;
			margin: 0 0 0 0;
		}
		.description {
			color: #868690;
			line-height: 1.75;
			margin:
			 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
}

textarea {
	min-height: 250px;
}